<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nickelfoxassignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".AssignmentApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NickelFoxAssignment"
        tools:targetApi="31">
        <activity
            android:name=".newsapp.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".usersonboarding.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".usersonboarding.UserLoginActivity"
            android:exported="false" />
        <activity
            android:name=".usersonboarding.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".usersonboarding.UserActivity"
            android:exported="false" />
        <activity
            android:name=".crashlytics.CrashActivity"
            android:exported="false" />
        <activity
            android:name=".viewpager.ViewPagerActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCdaXdBoknw4yatmOo3msPxctpu6Cs8G58" />

        <activity
            android:name=".transition.TransitionActivity"
            android:exported="false" />
        <activity
            android:name=".clustering.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".assignment0.ButtonsActivity"
            android:exported="false" />
        <activity
            android:name=".assignment0.FormSubmission"
            android:exported="false" />
        <activity
            android:name=".assignment0.GoogleMapsScreen"
            android:exported="false" />
        <activity
            android:name=".assignment0.CalculatorUI"
            android:exported="false" />
        <activity
            android:name=".assignment0.calculatorhistory.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".assignment0.AnimationsDemoScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>